@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');


body {
    filter: brightness(100%);
    background-color: black;
    padding:0;
    margin:0;
    overflow: hidden;
}  

.all {
    filter: brightness(100%);
    display: grid;
    position: absolute;
    width: 100%;
    height: auto;
}



.catalina {
    
    grid-area: 1 / 1;
    z-index:0;
    /* Add the blur effect */
    filter: blur(4px);
    -webkit-filter: blur(4px);
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding-top: 56.25%;
    position: relative;
}
.catalina img {
    filter: brightness(70%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

#clock {
    text-shadow: grey;
    color: white;
    grid-area: 1 / 1;
    z-index:1;
    position: relative;
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
    padding-left: 50px;
    font-size: 213px;
}

#dateA {
    
    font-weight: 300;
    text-shadow: grey;
    color: white;
    grid-area: 1 / 1;
    z-index:1;
    position: relative;
    font-family: 'Roboto', sans-serif;
    padding-left: 50px;
    font-size: 40px;
}



#weather {
    /*background-color: rgba(140, 152, 171, 0.2);*/
    font-weight: 300;
    line-height: 20px;
    text-shadow: grey;
    color: white;
    grid-area: 1 / 1;
    z-index:1;
    position: relative;
    font-family: 'Roboto', sans-serif;
    margin-left: auto; 
    margin-right: 0;
    font-size: 28px;
    padding-right: 75px;
}

#weatherIcon {
    filter: invert(1);
    width: 225px;
    height: 225px;
}

.centerItems {
    align-content: center;
}
